body {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;

}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

li{
    margin-right: 10px;
    display:inline-block;
    margin-top: 20px;
}

.two-block{
    height: 600px;
}

#two-block{
    margin-top: 70px;
    color: white;
}

#comment{
    font-size: 25px;
    color: white;
}

p .com-text{
    color: white;
}

input{
    width: 30%;
    height: 30px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    padding-left: 20px;
    background: linear-gradient(90deg, #32c5cd, #2ba2d5);
    color: #d5edf7;
    border: none;
}

select{
    width: 30%;
    height: 30px;
    text-align: left;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 20px;
    background: linear-gradient(90deg, #2ba2d5, #32c5cd);
    color: #d5edf7;
    border: none;
}

label{
    text-align: left;
    font-size: 14px;
    text-align: left;
    color: #c2eefd;

}

form{
    padding-top: 30px;
}

.button{
    color: black;
    background: #ffe500;
    text-align: center;
    margin-top: 40px;
    height: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

:root {
    --block-height: 90vh;
}
* {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    text-align: center;
}
.normal-text{
    font-weight: normal;
}
h1{
    font-size: 110px;
    margin: 10px;
}
h2{
    font-size: 72px;
    margin: 10px;
}
h3{
    font-size: 36px;
    margin: 10px;
}
h4{
    font-size: 30px;
    margin: 10px;
}
.left-align{
    text-align: left;
}
.white{
    color: white;
}
.black{
    color:black;
}

.gradient {
    background: linear-gradient(90deg,  #40FDEC, #2DA8FF);
}

.shadow {
    filter: drop-shadow(0px 12px 6px rgba(0, 0, 0, 0.25));
}

.main-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 30px;
    width: 101%;
    height: var(--block-height);
    margin: -2px;
    padding: -1px;
}

div.main-block > div{
    justify-self: center;
    align-self: center;
    grid-column: 1;
}


.big-block{
    height: calc(var(--block-height) + 150px);
}
#svg-top-corner {
    grid-row: 1;
    grid-column: 1;
}

.icon-top{
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
}

.pen-image{
    display: block;
    margin:auto;
}
.text {
    font-family: Roboto, sans-serif;
}

button{
    background-color: #ffe500;
    border-radius: 20px;
    border: 0px solid #ffe500;
    height: 40px;
    width: 170px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}
.button-text{
    font-size: 18px;
    margin: auto;
}
#first-svg{
    grid-column: 0/1;
}
#pen{
    grid-column: 0/1;
    grid-row: 4/6;
    align-self: center;
}

#first-text{
    height: 1fr;
    width: 1fr;
    grid-column: 0/1;
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
}
#first-button{
    grid-column: 0/1;
    grid-row: 6;
    align-self: start;
    justify-self: center;
}
#header {
    grid-row: 1;
    justify-self: right;
    align-self: start;
    margin-right: 50px;
    z-index: 1;
}
#second-svg{
    grid-row: 6;
    grid-column: 0/1;
    transform: rotate(180deg);

}

#second-text{
    grid-row: 2;
    justify-self: center;
    align-self: center;
}
.cards{
    grid-column: 0/1;
    grid-row: 3/6;
    display: flex;
    justify-content: center;
}
.why-card{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;
}
.center-align{
    justify-self: center;
    align-self: center;
}
.pen-type{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 275px;
    height: 350px;
    border: 6px solid #2DA8FF;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);

}
#why-card-1{
    grid-column: 2/4;
}
#why-card-2{
    grid-column: 4/6;
}
#why-card-3{
    grid-column: 6/8;
}

#pen-type-1{
    grid-column: 2/4;
    grid-row: 3/6;
}

#pen-type-2 {
    grid-column: 4/6;
    grid-row: 3/6;
}

#pen-type-3 {
    grid-column: 6/8;
    grid-row: 3/6;
}

#text{
    font-size: 20px;
}

#types-text{
    grid-column: 1/9;
    grid-row: 2;
    justify-self: center;
    align-self: start;
}

footer{
    height: 300px;
}

#img-footer{
    padding-right: 1100px;
    padding-top: 140px;
}